.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: auto;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 100px;
  padding: 15px;
}

#trybewarts-header-title {
  font-size: 45px;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}
