* {
  padding: 2px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: auto;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 100px;
  padding: 15px;
}

#trybewarts-header-title {
  font-size: 45px;
}

.trybewarts-login {
  display: flex;
  margin: 2px;
}

.main {
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
}

#evaluation-form {
  width: 675px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 167, 145);
  padding: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#name-position {
  display: flex;
  justify-content: space-between;
  width: 665px;
}

#input-name {
  width: 332px;
}

#input-lastname {
  width: 332px;
}

#email-house {
  display: flex;
  justify-content: space-between;
  width: 665px;
  align-items: center;
}

#input-email {
  width: 332px;
}

#house {
  width: 332px;
}

#label-house {
  font-size: 20px;
}

#comment {
  width: 100%;
  height: 60px;
  resize: none;
}

.footer{
  display: flex;
  height:30px;
  background-color: blue;
}

input[type="text"], textarea {
  background-color : #d1d1d1; 
  text-decoration-color: white;
  border-radius: 5px;
  border-color: rgb(50, 167, 145);
}

select, textarea {
  background-color : #d1d1d1; 
  text-decoration-color: white;
  border-radius: 5px;
  border-color: rgb(50, 167, 145);
}

#submit-btn{
  width: 100px;
}


